@use '../colors/colors' as *;

.portfolio {
    padding: 40px 0;

    h2 {
        color: #f0e5fa; 
        margin-bottom: 20px; 
    }

    .job1, .job2, .job3 {
        color: #f0e5fa; 
        background-color: $primary;
        transition: transform 0.3s;

        .card-body {
            h5 {
                text-decoration: underline;
            }
        }

        .card-footer {
            text-align: center;
            
            a {
                color: $text;
            }
        }
    }

    .job1:hover, .job2:hover, .job3:hover {
        transform: scale(1.05);
    }
}