// COLORS
$text: #f0e5fa;
$background: #1C1B1B;
$primary: #2c2828;
$secondary: #12638c;
$accent: #34b4ca;

// MAPS
$colors: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  background: $background,
  text: $text,
);