@use '../colors/colors' as *; 

header {
  .navbar {
    background-color: $background; 

    .container-fluid {
      display: flex;
      justify-content: space-between;

      .navbar-brand {
        color: $text;
        margin-right: auto;
        font-size: 22px; 
      }

      .navbar-nav {
        display: flex;
        justify-content: flex-end; 
        gap: 10px; 

        .nav-link {
            color: $text;
            font-size: 20px;
        }
      }
    }
  }
}