@use '../colors/colors' as *; // Asegúrate de que esto esté al principio

header {
  .navbar {
    background-color: $background; // Aplica el color de fondo al menú

    .container-fluid {
      display: flex;
      justify-content: space-between; // Espacia los elementos a los extremos

      .navbar-brand {
        color: $text;
        margin-right: auto; // Mueve el navbar-brand a la izquierda
      }

      .navbar-nav {
        display: flex;
        justify-content: flex-end; // Alinea los nav-links a la derecha
        gap: 10px; // Espacio entre los enlaces

        .nav-link {
            color: $text;
        }
      }
    }
  }
}