@use '../colors/colors.scss';

.habilities {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .skill-img {
        img {
            width: 200px;
            height: 200px;
        }
    }

    .skill-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 5%; 

        .skill {
            display: flex;
            align-items: center; 
            margin: 20px 0; 

            .skill-info {
                flex-grow: 1;

                .progress-bar {
                    background-color: #e6e6e6; 
                    border-radius: 5px;
                    width: 50vw; 
                    height: 20px; 
                    overflow: hidden; 
                    margin: 5px 0; 

                    .progress {
                        background-color: #34b4ca; 
                        height: 100%; 
                        width: 0%; // Inicialmente en 0%
                        transition: width 1s ease-in-out; // Animación de transición
                    }
                }

                .percentage {
                    text-align: right;
                }
            }
        }
    }
}